<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
   <section name="myJournal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
	<add key="DisplayedDateFormat" value="M/d/yy H:m:s" />
	<add key="EntryOutputFormat_Editing" value="&#xD;&#xA;&#xD;&#xA;&gt; Original Date: {0}&#xD;&#xA;&gt; Title: {1}&#xD;&#xA;&gt; Text: {2}"/>
	<!--<add key="EntryOutputFormat_Printing" value="Journal: {0}&#xD;&#xA;Title (Date): '{1}' ({2})&#xD;&#xA;tags: {3}&#xD;&#xA;&#xD;&#xA;{4}"/>-->
	 <add key="EntryOutputFormat_Printing" value="Title (Date): '{0}' ({1})&#xD;&#xA;tags: {2}&#xD;&#xA;&#xD;&#xA;{3}"/>
	 <add key="Width_ActiveBox" value="290"/>
	<add key="Height_ActiveBox" value="545"/>
	<add key="Left_ActiveBox" value="12"/>
	<add key="Top_ActiveBox" value="0"/>
	<add key="Width_MainForm" value="450"/>
	<add key="Height_MainForm" value="592"/>
	<add key="PrivateKey" value="@#$a%433"/>
 </appSettings>
 <userSettings>

 </userSettings>
</configuration>