<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
   <section name="myJournal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
	<add key="DisplayedDateFormat" value="MM/dd/yy HH:mm:ss" />
	<add key="EntryOutputFormat_Editing" value="&#xD;&#xA;&#xD;&#xA;&gt; Original Date: {0}&#xD;&#xA;&gt; Title: {1}&#xD;&#xA;&gt; Text: {2}"/>
	<add key="DateFormat_ForcedBackupFileName" value="MMddyy_HHmm" />
	<!--<add key="EntryOutputFormat_Printing" value="Journal: {0}&#xD;&#xA;Title (Date): '{1}' ({2})&#xD;&#xA;labels: {3}&#xD;&#xA;&#xD;&#xA;{4}"/>-->
	<add key="EntryOutputFormat_Printing" value="Title: '{0}' ({1})&#xD;&#xA;labels: {2}&#xD;&#xA;&#xD;&#xA;{3}"/>
	<add key="PublicKey" value="@#$a%433"/> <!-- Changing will break all journals! -->
	 
	<add key="FolderStructure_JournalsFolder" value="journals\"/>
	<add key="FolderStructure_JournalIncrementalBackupsFolder" value="journals\backups\"/>
	<add key="FolderStructure_Temp" value="journals\backups\temp\"/>
	<add key="FolderStructure_JournalForcedBackupsFolder" value="journals\backups\forced\"/>
	<add key="FolderStructure_SettingsFolder" value="settings"/>
	<add key="FolderStructure_LabelsFile" value="settings\labels"/>
	<add key="FolderStructure_SettingsFile" value="settings\settings"/>
 </appSettings>
 <userSettings>

 </userSettings>
</configuration>