<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <appSettings>
	<add key="DisplayedDateFormat" value="M/d/yy H:m:s" />
	<add key="EntryOutputFormat_Editing" value="&#13;&#10;&#13;&#10; > Original Date: {0}&#13;&#10; > Title: {1}&#13;&#10; > Entry: &#13;&#10;{2}"/>
	 <add key="EntryOutputFormat_Printing" value="&#13;&#10;&#13;&#10; > Date: {0}&#13;&#10; > Title: {1}&#13;&#10; > Entry: &#13;&#10;{2}&#13;&#10;"/>
 </appSettings>
</configuration>